<!DOCTYPE html><html lang=\"ru-ru\" dir=\"ltr\">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<link rel="stylesheet" href="./css/policy.css">
<title>Политика конфиденциальности</title>

</head>
<body>
	<div class="layout">
		<h1>Политика конфиденциальности персональных данных</h1>
		<p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в 
		отношении всей информации, которую проект @my_workouts_bot, (далее – MyWorkouts), может получить о Пользователе во время использования MyWorkouts (а также его субдоменов), его программ и его продуктов.

		<h2>1. Определение терминов</h2>

		<p><strong>1.1 В настоящей Политике конфиденциальности используются следующие термины:<strong></p>

		<p>1.1.1. Онлайн Платформа - программно-аппаратные средства, интегрированные с Сайтом и функционирующие в приложении-мессенджере Telegram в качестве контакта @my_workouts_bot.</p>

		<p>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному, или определяемому 
		физическому лицу (субъекту персональных данных).</p>

		<p>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых 
		с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, 
		систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу 
		(распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

		<p>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ 
		к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или 
		наличия иного законного основания.</p>

		<p>1.1.5. «Пользователь сайта <strong>t.me/my_workouts_bot</strong> » (далее Пользователь) – лицо, имеющее доступ 
		к сайту <strong>t.me/my_workouts_bot</strong>, посредством сети Интернет 
		и использующее информацию, материалы и продукты сайта <strong>t.me/my_workouts_bot</strong>.</p>

		<h2>2. Общие положения</h2>
		<p>2.1. Использование MyWorkouts Пользователем означает согласие с настоящей Политикой 
		конфиденциальности и условиями обработки персональных данных Пользователя.</p>

		<p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование 
		MyWorkouts .</p>

		<p>2.3. Настоящая Политика конфиденциальности применяется к MyWorkouts.
		MyWorkouts не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь 
		может перейти по ссылкам, доступным на MyWorkouts</p>

		<h2>3. Предмет политики конфиденциальности</h2>

		<p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации по неразглашению и обеспечению 
		режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации при 
		регистрации в MyWorkouts или при подписке на информационную e-mail рассылку.</p>

		<p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются 
		Пользователем путём заполнения форм на MyWorkouts и включают в себя следующую информацию:<br />
		3.2.1. фамилию, имя, отчество Пользователя;<br />

		<p>3.3. Любая иная персональная информация неоговоренная выше (история посещения, используемые браузеры, операционные 
		системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, 
		предусмотренных в п.п. 5.2. настоящей Политики конфиденциальности.</p>

		<h2>4. Цели сбора персональной информации пользователя</h2>

		<p>4.1. Персональные данные Пользователя Администрация может использовать в целях:<br />
		4.1.1. Идентификации Пользователя, зарегистрированного на MyWorkouts для его дальнейшей авторизации.<br />

		4.1.2. Предоставления Пользователю доступа к персонализированным данным MyWorkouts. <br />

		4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования 
		MyWorkouts, обработки запросов и заявок от Пользователя.<br />

		4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.<br />

		4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.<br />

		4.1.6. Создания учетной записи для использования частей MyWorkouts, если Пользователь дал согласие на 
		создание учетной записи.<br />

		4.1.7. Уведомления Пользователя по электронной почте.<br />

		4.1.8. Предоставления Пользователю эффективной технической поддержки при возникновении проблем, связанных с использованием 
		MyWorkouts. <br />

		4.1.9. Предоставления Пользователю с его согласия специальных предложений, новостной рассылки и иных сведений от имени 
		MyWorkouts.</p>

		<h2>5. Способы и сроки обработки персональной информации</h2>

		<p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в 
		том числе в информационных системах персональных данных с использованием средств автоматизации или без использования 
		таких средств.</p>
		<p>5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской 
		Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</p>
		<p>5.3. При утрате или разглашении персональных данных MyWorkouts вправе не информировать Пользователя об утрате или 
		разглашении персональных данных.</p>

		<h2>6. Авторское право</h2>
		<p>6.1. Вся информация, предоставляемая Проектом, является строго конфиденциальной, защищена законами Российской Федерации
		об охране интеллектуальной собственности, авторских и смежных прав. Защита относится к текстам, подсчетам, таблицам, 
		мультимедийным и видеоматериалам, изображениям, рекомендациям, базам данных, исходному коду и прочим объектам (
		за исключением пользовательского контента) авторского права.</p>

		<p>6.2. Любое содержание MyWorkouts не может быть скопировано, распространено, использовано в любой форме 
		без предварительного согласия соответствующих собственников.</p>

		<p>
			6.3. Все материалы могут быть использованы Пользователем исключительно в личных целях.
		</p>
		<h2>7. Разрешение споров</h2>
		<p>7.1. Споры и разногласия, связанные с исполнением настоящих положений и условий пользовательского соглашения, стороны будут разрешать в досудебном (претензионном) порядке.</p>
		<p>7.2. В случае, если спор, возникший из настоящих положений и условий пользовательского соглашения или касающийся положений и условий пользовательского соглашения, их нарушения, прекращения или недействительности, не удалось решить в претензионном порядке, он подлежит разрешению в суде.</p>

		<h2>8. Медицинские условия</h2>
		<p>8.1. Прежде чем заниматься спортивной активностью, НЕОБХОДИМО проконсультируйтесь с врачом. Проект MyWorkouts не является заменой Вашего доктора и не несет ответственность за Ваши действия.</p>

		<p>8.2. Проект не является медицинской организацией.<p></p>

		<p>	8.3. Принимая Соглашение, Вы даете согласие, что вы здравом уме полностью отдаете себе отчёт, что MyWorkouts не оказывает медицинских услуг и не дает медицинских советов, рекомендаций или консультаций. </p>
		<p>	8.4. При ощущении боли или дискомфорта при выполнении упражнения рекоммедуется немедленно прекратить выполнение упражнения и проконсультироваться со специалистом. </p>

		<h2>10. Дополнительные условия</h2>
		<p>10.1. MyWorkouts вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>

		<p>10.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на MyWorkouts, если 
		иное не предусмотрено новой редакцией Политики конфиденциальности.</p>

		<p>10.3. Все предложения или вопросы касательно настоящей Политики конфиденциальности следует сообщать по
		адресу: <a href="mailto:kuzin.miroslav@yandex.ru"> kuzin.miroslav@yandex.ru</a></p>

		<p>10.4. Действующая Политика конфиденциальности размещена на странице по адресу MyWorkouts.


<script type="changebg/javascript">
	let tg = window.Telegram.WebApp;
    Telegram.WebApp.bg_color = "#143F6B"
	<!-- tg.set -->
</script>